doctype html
html(lang='en')
  include ./partials/_header.jade
  body
    include ./partials/_top-nav.jade
    
    .container
      .starter-template
        h1 This is starter template
        p.lead Use this file to quickly start any new pages.
        img(src='images/mabu-character.svg')
    
    include ./partials/_footer.jade
